{% extends 'academic/base.html' %}

{% block encabezado %}
{% endblock %}

{% block content %}
{% load static %}

<br>
<h1><b>Instituto sin EVENTOS DONDE PUBLICAR ARTÍCULOS CIENTÍFICOS</b></h1>
<br>
Para <b>registrar un nuevo evento (e.g. congresos, conferencias, seminarios o eventos relevantes para la publicación de artículos científicos) </b> contáctese con <a href='{% url "index" %}#address'> el instituto</a> o con su <a href='{% url "people" %}'> personal administrativo</a>.
<br>

{% endblock %}